<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Restaurant Reviewer</title>
    </head>
    <body>
        <div class="container">
        <h1>Cuisines</h1>
        {% if cuisines is not empty %}
            <p>Here are all your cuisines:</p>
            <ul>
                {% for cuisine in cuisines %}
                    <li>{{ cuisine.getType }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action="/cuisines" method="post">
            <label for="type">Cuisine Name</label>
            <input id="type" name="type" type="text">

            <button class="btn btn-primary" type="submit">Add Cuisine</button>
        </form>
        <form action="/delete_cuisines" method="post">
            <button class="btn btn-danger" type="submit">Delete</button>
        </form>
        <br/>
        <p><a class="btn btn-default" href="/">Home</a></p>
    </div>
    </body>
</html>
