<html>
<head>
    <link rel="stylesheet" href="../css/custom.css" type="text/css">
    <link rel="stylesheet" href="css/custom.css" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
    <div class="container">
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <div class="masthead clearfix">
                        <div class="inner">
                            <h3 class="masthead-brand">&nbsp</h3>
                            <ul class="nav masthead-nav">
                                <p>&nbsp</p>
                                <p>&nbsp</p>
                                <p>&nbsp</p>
                            </ul>
                        </div>
                    </div>
                    <div class="inner cover">
                        <div class="main">
                            <h1 class="cover-heading header">Welcome to Restaurant Reviewer</h1>
                            <p class="lead">
                                <h2>Restaurants Cleared!</h2>
                                <a href="/"><button class="btn-default">Home</button></a>
                            </p>
                    </div>
                </div>
                <div class="mastfoot">
                    <div class="inner">
                        <!-- Validation -->
                        <p>&nbsp</p>
                        <p>&nbsp</p>
                        <p>&nbsp</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
