<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Restaurant Reviewer</title>
</head>
<body>
    <div class="container">
        <h1>Cuisines Cleared!</h1>
        <a href="/"><button class="btn-default">Home</button></a>
    </div>
</body>
</html>
